.header {
    transition: all 0.5s;
    z-index: 997;
    height: 120px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #35408E;
    padding-left: 20px;
    border-bottom: 5px solid #FFD41C; 
}

/*search bar*/
/* toggle sidebar button */
.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 150px;
    cursor: pointer;
    color: #ffffff;
}